<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial=scale1.0">
        <meta name="decription" content="G20-Charts">
        <meta name="author" content="Kaiqi-Yu">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/index.css">

        <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>

    </head>
    <body>
        <div id="header">
            <a href="index.html" class="logo" style="background: url(../static/img/logo.jpg) no-repeat;"></a>
            <ul class="main-menu">
                <span class="menu-line" hidden="hidden"></span>
                <li class="main-menu-li selected"><a href="index.html"><span>Home</span></a></li>
                <li class="main-menu-li"><a href="gdp.html"><span>GDP</span></a></li>
                <li class="main-menu-li"><a href="educational.html"><span>Education</span></a></li>
                <li class="main-menu-li"><a href="healthcare.html"><span>Healthcare</span></a></li>
                <li class="main-menu-li"><a href="military.html"><span>Military</span></a></li>
                <li class="main-menu-li"><a href="others.html"><span>Others</span></a></li>
            </ul>
        </div><!-- header -->
        <div id="container" style="height: 600px;">
            <div class="sidebar">
                <h3>Author</h3>
                <h4>Kaiqi Yu</h4>
                <h5><a href="mailto:yukaiqi.kelv1n@gmail.com"><span>yukaiqi.kelv1n@gmail.com</span></a></h5>
                <p>
                    First Project of Data visualization.
                </p>
            </div><!-- sidebar -->
            <div id="content">
                <h1>G20 Analysis</h1>
                <p>
                    In this project, we selected the population, gdp, education expenditure,
                    military expenditure, and health care expenditure data of 11 G20 countries from 2012 to 2017,
                    and performed relevant charts and analysis.
                </p>
                <p>
                    Relevant charts are divided into five categories:
                    gdp, education, healthcare, military, and others based on relevant subject data.<br>
                </p>
                <p>
                    The project uses html, css, javascript, jquery, Google visual interface to achieve.
                </p>
            </div><!-- content -->
        </div><!-- container -->
        <div id="footer">
                Copyright &copy; 2020. G20 Charts | Developed by Kaiqi Yu</p>
        </div><!-- footer -->
    </body>
</html>